<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6">
      <div class="form-service">
        <h2>Create a new service</h2>
        <%= render "form", service: @service %>
        <%= link_to 'Back', @service %>
      </div>
    </div>
  </div>
</div>
