<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Create a new service</h1>
      <%= render "form", service: @service %>
      <%= link_to 'Back', @service %>
    </div>
  </div>
</div>
