<div class="w-75 bg-light py-5 px-3" style="margin: 0 auto">
  <div class="row justify-content-center">
    <div class="col-xs-8 col-lg-6 bg-white p-3 border border-dark-shadow rounded">
      <div class="row justify-content-center">
        <div class="col-9 p-3">
          <%= simple_form_for(@booking) do |f| %>
          <%= f.input :deadline, html5: true %>
          <div class="d-flex justify-content-between">
            <%= f.submit class: "btn btn-dark"%>
            <%= link_to "Back to bookings", bookings_path, class: "btn btn-dark my-1" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

