<div class="services-banner">
  <div class="container">
    <h1>Bookings</h1>
  </div>
</div>

<ul class="nav nav-tabs w-75" id="myTab" role="tablist" style="margin: 30px auto;">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Incoming Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Outgoing Bookings</a>
  </li>
</ul>
<div class="tab-content w-75" style="margin: 10px auto; overflow-y: scroll; height: 400px;" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <h1>Jobs you've booked</h1>
    <%= render "shared/table", bookings: @outward_bookings %>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h1>Jobs you are booked for</h1>
    <%= render "shared/table", bookings: @inward_bookings %>
  </div>
</div>
