<h1>Bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <% if booking.user = @user %>
      <li><%= link_to booking.service.title, booking %><%= booking.deadline %>
      <% if booking.status == "Accept" %>
        <p>Accepted</p>
      <% elsif booking.status == "Decline" %>
        <p>Declined</p>
      <% elsif booking.status == "Pending" %>
        <p>Pending</p>
      <% end %></li>
    <% end %>
  <% end %>
</ul>
