<div class="card" style="width: 18rem;">
  <img src='<%= asset_path 'generic_photo.jpg' %>' alt="" class= "card-img-top">
  <div class="card-body">
      <h5 class="card-title"><%= service.title %></h5>
      <p class="card-text"><%= service.category %></p>
  </div>
</div>
