<div class="footer">
  <div class="links">
    <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
    <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
    <p>© Tennerr International Ltd. 2020</p>
  </div>
</div>
