<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 20%;">Name</th>
      <th scope="col" style="width: 40%;">Project</th>
      <th scope="col" style="width: 20%;">Status</th>
      <th scope="col" style="width: 20%;">Deadline</th>
    </tr>
  </thead>
  <tbody>
    <% bookings.each do |booking| %>
      <tr>
        <td><%= link_to "#{booking.user.first_name} #{booking.user.last_name}",
          booking_path(booking) %></td>
        <td><%= booking.service.title %></td>
        <td><%= booking.status %></td>
        <td><%= booking.deadline %></td>
      </tr>
    <% end %>
  </tbody>
</table>
