<div class="home-banner">
  <div class="buttons">
    <%= link_to "Join", new_user_registration_path, class: "btn btn-flat" %>
    <br>
  <%= link_to "Login", new_user_session_path, class: "btn btn-flat" %>
  </div>
</div>
