<div class="home-banner">
  <div class="container">
    <h1>
      <span id="banner-typed-text"></span>
    </h1>
      <%= link_to "Explore", services_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="container mt-3 mb-5">
  <h1>Top Services</h1>
  <div class="cards">
    <% services_home.each do |service| %>
      <%= link_to service_path(service) do %>
        <%= render "shared/card_service", service: service %>
      <% end %>
    <% end %>
  </div>
</div>
