<div class="home-banner">
  <div class="container">
    <h1>
      <span id="banner-typed-text"></span>
    </h1>
    <!-- <div class="buttons"> -->
      <%= link_to "Join", new_user_registration_path, class: "btn btn-flat" %>
      <br>
      <%= link_to "Login", new_user_session_path, class: "btn btn-flat" %>
    <!-- </div> -->
  </div>
</div>
<div class="container mt-3">
  <h1>Top Services</h1>
  <div class="container">
    <div class="cards">
      <% services_home.each do |service| %>
        <%= link_to service_path(service) do %>
          <%= render "shared/card_service", service: service %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
