.footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(0,0,0,0.1);
}

.footer a {
  font-size: 20px;
  color:  #6B6C6C;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #6B6C6C;
}
