// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "registration_banner";
@import "services-banner";
@import "card";
@import "form";
@import "service-banner";

@import "home_banner";
@import "show-booking";

html, body{
  box-sizing: border-box;
  height: 100%;
  background-color: white;
  a:hover {
    text-decoration: none;
  }
}

