// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "registration_banner";
@import "services-banner";
@import "card";
@import "home_banner";

html, body{
  box-sizing: border-box;
  height: 100%;
  background-color: white;
}

