.service-banner {
  // object-fit: contain; 
  // background-repeat: no-repeat;
  // background-color: #6C757D;
  background-size: cover;
  background-position: center;
  padding: 80px 150px;
  max-height: 5em;
  width: 75%;
  margin: 0 auto;
  opacity: 0.8;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    max-width: 12em;
    opacity: 1 !important;
  }
  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
