.booking-information {
  width: 75%;
  margin: 0 auto;
  padding: 24px;
}

.booking-form-container {
  width: 75%;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  justify-content: center;
}
.booking-form {
  display: flex;
  flex-direction: column;
  width: 25%
}